{% extends "base.html" %}
{% load allauth %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="flex flex-col items-start gap-6  mx-auto overflow-hidden">
            <div class="flex flex-col items-start gap-1">
                <span class="text-2xl font-semibold">Forgot password</span>
                {% if user.is_authenticated %}
                 <span class="text-xs font-normal mb-2">You are currently authenticated as <span class="text-fuchsia-700">{{ user.email }}</span></span>
                {% endif %}
                 <span class="text-lg font-normal">We will send a password reset link to your email</span>
            </div>
    
            <div class="flex flex-col items-start ml-0.5 gap-6 self-stretch">
                <!-- Email -->
                <div class="flex gap-6 w-full">
                    <fieldset class="fieldset w-full">
                        <legend class="fieldset-legend text-white">Email</legend>
                        {{form.email|add_class:"input w-full bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0" }}
                    </fieldset>
    
                </div>
    
    
                <button type="submit" class="flex py-3 px-6 justify-center items-center self-stretch bg-fuchsia-700 rounded-[9999px] font-semibold text-base">
                    Send Link
                </button>
    
                <div class="divider">Didn't receive the link?</div>
                <button class="self-center flex py-3 px-6 justify-center items-center border border-fuchsia-700 rounded-[9999px] font-semibold text-base cursor-pointer">
                    Try Again
                </button>
    
            </div>
        </div>
    </form>
{% endblock content %}