{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}
  
<form method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="flex flex-col items-start gap-6 lg:w-[60%] mx-auto overflow-hidden">

    <div class="flex flex-col items-start gap-1">
      <span class="text-2xl font-semibold">Sign Up</span>
      <span class="text-lg font-normal">Create an account</span>
    </div>

    <div class="flex flex-col gap-6 items-start ml-0.5">
        <!-- Error message -->

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="flex gap-0 py-2.5 px-3 items-center w-full rounded-lg bg-red-950/30 mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M7.86 2H16.14L22 7.86V16.14L16.14 22H7.86L2 16.14V7.86L7.86 2Z" stroke="#ED4C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 16H12.01" stroke="#ED4C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 8V12" stroke="#ED4C5C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <div class="flex flex-col">
                            <span class="text-base font-normal text-amber-700">{{ error }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <div class="flex gap-6 w-full">
          <fieldset class="fieldset">
            <legend class="fieldset-legend text-white">First name</legend>
            {{ form.first_name|add_class:"input bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0" }}
          </fieldset>
          <fieldset class="fieldset">
            <legend class="fieldset-legend text-white">Last name</legend>
            {{ form.last_name|add_class:"input bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0" }}
            {% if field.errors %}
             <p class="text-sm text-red-500 mt-1">{{ field.errors.0 }}</p>
            {% endif %}
          </fieldset>
        </div>
    
        <div class="w-full">
          <fieldset class="fieldset w-full">
            <legend class="fieldset-legend text-white">Email</legend>
            {{ form.email|add_class:"input w-full bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0" }}
            {% if form.email.errors %}
              <p class="text-sm text-red-500 mt-1">{{ form.email.errors.0 }}</p>
            {% endif %}
          </fieldset>
        </div>
         <!-- Password1 -->
         <div class="w-full">
            <div class="relative">
                <fieldset class="fieldset w-full">
                    <legend class="fieldset-legend text-white">Password</legend>
                    {{ form.password1|add_class:"input w-full pr-10 bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0 h-12" }}
                </fieldset>
            
                <!-- Toggle icon -->
                <i data-target="id_password" class="toggle-password absolute top-1/2 right-3 -translate-y-1/2 cursor-pointer z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <g clip-path="url(#clip0_253_12532)">
                        <path d="M8.24998 3.53352C8.82359 3.39925 9.41087 3.33213 9.99998 3.33352C15.8333 3.33352 19.1666 10.0002 19.1666 10.0002C18.6608 10.9465 18.0575 11.8375 17.3666 12.6585M11.7666 11.7668C11.5378 12.0125 11.2618 12.2095 10.9551 12.3461C10.6484 12.4828 10.3174 12.5562 9.98172 12.5622C9.64604 12.5681 9.31261 12.5063 9.00132 12.3806C8.69003 12.2549 8.40725 12.0677 8.16985 11.8303C7.93246 11.5929 7.74531 11.3101 7.61957 10.9988C7.49383 10.6875 7.43208 10.3541 7.43801 10.0184C7.44393 9.68277 7.5174 9.35172 7.65404 9.04506C7.79068 8.73839 7.98769 8.46239 8.23331 8.23352M14.95 14.9502C13.5255 16.036 11.7909 16.6376 9.99998 16.6668C4.16665 16.6668 0.833313 10.0002 0.833313 10.0002C1.86989 8.06843 3.30759 6.38069 5.04998 5.05018L14.95 14.9502Z" stroke="#8D91AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M0.833313 0.833496L19.1666 19.1668" stroke="#8D91AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_253_12532">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                    </defs>
                    </svg>
                </i>
            
                <!-- Error message -->
                <div class="mt-1 min-h-[1.25rem]">
                    {% if form.password1.errors %}
                      <p class="text-sm text-red-500">{{ form.password1.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Password2 -->
        <div class="w-full">
            <div class="relative">
                <fieldset class="fieldset w-full">
                    <legend class="fieldset-legend text-white">Repeat Password</legend>
                    {{ form.password2|add_class:"input w-full pr-10 bg-[#313131] border border-white/10 backdrop-blur-sm focus:ring-2 focus:ring-fuchsia-700 focus:outline-none focus:ring-offset-0 h-12" }}
                </fieldset>
            
                <!-- Toggle icon -->
                <i data-target="id_password2" class="toggle-password absolute top-1/2 right-3 -translate-y-1/2 cursor-pointer z-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <g clip-path="url(#clip0_253_12532)">
                        <path d="M8.24998 3.53352C8.82359 3.39925 9.41087 3.33213 9.99998 3.33352C15.8333 3.33352 19.1666 10.0002 19.1666 10.0002C18.6608 10.9465 18.0575 11.8375 17.3666 12.6585M11.7666 11.7668C11.5378 12.0125 11.2618 12.2095 10.9551 12.3461C10.6484 12.4828 10.3174 12.5562 9.98172 12.5622C9.64604 12.5681 9.31261 12.5063 9.00132 12.3806C8.69003 12.2549 8.40725 12.0677 8.16985 11.8303C7.93246 11.5929 7.74531 11.3101 7.61957 10.9988C7.49383 10.6875 7.43208 10.3541 7.43801 10.0184C7.44393 9.68277 7.5174 9.35172 7.65404 9.04506C7.79068 8.73839 7.98769 8.46239 8.23331 8.23352M14.95 14.9502C13.5255 16.036 11.7909 16.6376 9.99998 16.6668C4.16665 16.6668 0.833313 10.0002 0.833313 10.0002C1.86989 8.06843 3.30759 6.38069 5.04998 5.05018L14.95 14.9502Z" stroke="#8D91AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M0.833313 0.833496L19.1666 19.1668" stroke="#8D91AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_253_12532">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                    </defs>
                    </svg>
                </i>
            
                <!-- Error message -->
                <div class="mt-1 min-h-[1.25rem]">
                    {% if form.password2.errors %}
                      <p class="text-sm text-red-500">{{ form.password2.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
  

        <button class="flex py-3 px-6 justify-center items-center self-stretch bg-fuchsia-700 rounded-[9999px] font-semibold text-base">
            Continue
        </button>
    </div>
  </div>
</form>

{% endblock content %}
