
<div id="password-helper" class="hidden grid md:grid-cols-2 mt-2">
    <div class="flex flex-col gap-1 flex-[1_0_0] items-start col-span-1">
        <div id="length-requirement" class="flex items-center gap-1 self-stretch">
            <div class="bg-red-500 rounded-[999px] p-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9 3L3 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3L9 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <span class="label">Between 9 and 64 characters</span>
        </div>
        <div id="uppercase-requirement" class="flex items-center gap-1 self-stretch">
            <div class="bg-red-500 rounded-[999px] p-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9 3L3 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3L9 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <span class="label">Include uppercase</span>
        </div>
        <div id="lowercase-requirement" class="flex items-center gap-1 self-stretch">
            <div class="bg-red-500 rounded-[999px] p-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9 3L3 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3L9 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <span class="label">Include lowercase</span>
        </div>
    </div>
    <div class="flex flex-col gap-1 flex-[1_0_0] items-start col-span-1">
        <div id="number-requirement" class="flex items-center gap-1 self-stretch">
            <div class="bg-red-500 rounded-[999px] p-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9 3L3 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3L9 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <span class="label">Include number</span>
        </div>
        <div id="special-requirement" class="flex items-center gap-1 self-stretch">
            <div class="bg-red-500 rounded-[999px] p-0.5">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M9 3L3 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3L9 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <span class="label">Include special character</span>
        </div>
    </div>
</div>