<!-- National Team Header Row -->
<div class="flex justify-between items-center w-full">
    <div class="flex gap-2 items-start">
        <span class="text-[18px] font-medium">National Team History</span>
    </div>
    <div class="flex gap-8 justify-end items-center">
        <div class="flex items-center w-[94px]">
            <span class="text-base font-normal">Debut</span>
        </div>
        <div class="flex  items-center w-[80px] ">
            <span class="text-base font-normal">Matches</span>
        </div>
        <div class="flex  items-center w-[80px]">
            <span class="text-base font-normal">Goals</span>
        </div>
        <div class="flex  items-center w-[196px]">
            <span class="text-base font-normal">Age at Debut</span>
        </div>
    </div>
</div>